@import 'gridlines';
@import 'menu';

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

$bgcolor : pink;

html {
    background-color: black;
    color: white;
}

body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

.main-container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}

.main-content-container {
    min-height: calc(100% - 51px);
}

.content {
    margin: 0 auto;
    padding-top: 20px;
}

.logo {
    z-index: 10;
    margin-top: 70px;
    height: 16px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 80%;
    max-width: 800px;
    margin-top: 10px;


}

.container {
    width: 80%;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;

}

.banner {
    background-color: transparent;
    border: 1px solid rgba(54, 226, 248, .8);
    border-radius: 5px;
    padding: 7px;
    -webkit-box-shadow: 0 0 5px 2px rgb(54, 226, 248 / 20%);
    box-shadow: 0 0 5px 2px rgba(54, 226, 248, .2);

    .inner {
        a {

            text-decoration: none;
            color: #db3eb1;
            cursor: pointer;
            font-weight: 700;

            &:visited {
                text-decoration: none;
            }

            &:hover {
                text-decoration: none;
                color: black;
                background-color: #db3eb1;
                filter: drop-shadow(0 0 20px #db3eb1) contrast(2) brightness(2);
            }

            &.active {
                color: #00ffff;
                border-color: #00ffff;
                filter: drop-shadow(0 0 15px #00ffff) drop-shadow(0 0 50px #00ffff);

                &:hover {
                    color: black;
                    background-color: #00ffff;
                    filter: drop-shadow(0 0 20px #00ffff);
                }
            }
        }

        background-color: hsla(0, 0%, 7%, .9);
        /*border-top: 1px solid hsla(0, 0%, 100%, .3);
        border-left: 1px solid hsla(0, 0%, 100%, .1);
        border-right: 1px solid hsla(0, 0%, 100%, .05);
        border-bottom: 1px solid hsla(0, 0%, 100%, .05);*/
        color: #fff;
        padding: 10px 10px 2px;
    }
}

.footer {
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    display: flex;
    height: 20px;
    background-color: rgba(0, 0, 0, .5);
}