<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    {{ $styles := resources.Get "scss/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
</head>

<body>
    <div class="grid-container">
        <div class="grid-lines">
            <div class="grid-lines-inner">
                <div class="grid-ground"></div>
                <div class="horizontal">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="vertical">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <input id="menu-toggle" type="checkbox" />
            <label class="menu-btn" for="menu-toggle">
                <span></span>
            </label>
            <header class="logo">
                <div class="menu-top">
                    <!-- {{ $CurrentPage := . }}
                    <ul>
                        <li>
                            <a href="/" class="{{ if .IsHome }}active{{ end }}">Home</a>
                        </li>
                        {{ range first 10 .Site.RegularPages }}
                        <li>
                            <a href="{{ .Permalink }}"
                                class="{{ if eq $CurrentPage.Permalink .Permalink }}active{{ end }}">{{ .Title }}</a>
                        </li>
                        {{ end }}
                    </ul> -->

                    {{ partial "menu.html" . }}

                </div>
                {{ with .Params.subtitle }}
                <span class="subtitle">{{.}}</span>
                {{ end }}
            </header>
            <main aria-role="main" class="main-content-container">
                <!-- Code that all your templates share, like a header -->
                {{ block "main" . }}
                <!-- The part of the page that begins to differ between templates -->
                {{ end }}
            </main>
            <div class="footer">
                <span>Kutsuya</span>
                <span></span>
                <span>v.0.0.1</span>
            </div>
        </div>
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}

    </div>
</body>

</html>